{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "transform": {
      "optimizer": {
        "globals": {
          "vars": {
            "__DEBUG__": "false"
          }
        }
      },
      "legacyDecorator": true
    },
    "target": "es2016",
    "externalHelpers": false
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "noInterop": false
  },
  "minify": true,
  "sourceMaps": false
}
